#header
  .left
    %a{ :href => '/' }
      %logo
        %img{ :src => '/images/hashtagchat.png' }
    %h2 welcome to hashtag chat!
    %h2 hashtag chat = chatrooms for twitter hashtags
  .right
    %a{ :href => 'http://assemb.ly' }
      %img{ :src => '/images/broughttoyou.png' }

= form :action => url(:chats), :method => :get, :id => 'chat_form' do
  %p
    = text_field :name => :tag, :label => 'hashtag #', :value => @tag, :id => 'chat_form_tag_field'
    = submit "enter chat"


- if !@client.authorized?
  #user_info
    = link_to "login via twitter to chat", url(:login)
- else
  #user_info
    = link_to "logout to switch twitter accounts", url(:logout)

  #instructions hashtag will be automatically added to your tweet

  = form :action => (:posts), :id => 'post_form' do
    %div
    = hidden_field :name => :tag, :value => @tag, :id => 'post_form_tag_field'
    %p
      = text_area :name => :message, :id => 'post_form_message'
    .submit
      .left
        %span#chars_left= 138 - @tag.length
        %span characters left
      .right
        = submit "tweet"

#headings
  %h3== you are in #<span id="tag">#{@tag}</span>
  %h4 no need to refresh the page. updates are live!

#chat

#footer
  == &copy;#{Time.now.year} Assembly
